mixin testimonial(img, quote, name)
	.test__card(class=attributes.class)
		.test__card__user-img
			img(src="#{img}", alt="")
		.test__card__user-quote
			p “#{quote}”
		.test__card__user-name
			span #{name}



.test__card-container

	+testimonial(
		'assets/img/person-5.png',
		'Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per',
		'Teehan + Lax')

	+testimonial(
		'assets/img/person-4.png',
		'Anyone who has never made a mistake has never tried anything new',
		'Mark + Gray')

	+testimonial(
		'assets/img/teehan-user.png',
		'Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per',
		'Teehan + Lax')(class="card-is-active")

	+testimonial(
		'assets/img/person-2.png',
		'If your actions inspire others to dream more, learn more, do more and become more, you are a leader',
		'Guy + One')

	+testimonial(
		'assets/img/person-1.png',
		'The greater danger for most of us lies not in setting our aim too high and falling short, but in setting our aim too low and achieving our mark',
		'Jeff + Fox')