// Features Section
section
	#features.features-container
		.features
			.row.flex-center
				.small-12.medium-4.column.features__card
					img(src="assets/img/pen-icon.png", alt="")
					.features__card__header
						h4.features__card__header__main 250
						span.features__card__header__sub UI Elements
					hr.features__card__devider
					p.features__card__info Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.

				.small-12.medium-4.column.features__card
					img(src="assets/img/lightning-icon.png", alt="")
					.features__card__header
						h4.features__card__header__main Ultra 
						span.features__card__header__sub Modern Design
					hr.features__card__devider
					p.features__card__info Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.

				.small-12.medium-4.column.features__card
					img(src="assets/img/heart-icon.png", alt="")
					.features__card__header
						h4.features__card__header__main Free
						span.features__card__header__sub Forever, and ever.
					hr.features__card__devider
					p.features__card__info Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.