// Footer Section
section
	footer.footer
		.row.flex-center
			.medium-4.column.footer__credits
				img(src="/assets/img/logo.png", alt="")
				p Land.io 2015 <br> Desinged by Peter Finlan, exclusively for Coderops.


			.medium-6.medium-offset-2.column.footer__menu
				ul.menu
					li: a(href="#") About Land.io
					li: a(href="#") how it works
					li: a(href="#") Support
					li: a(href="#") Log in
					li: a.footer__menu__back-to-top(href="#") Back to top <img src="/assets/img/up-icon.png", alt="")>