// Landing Section
section
	.row.fullwidth#landing.landing


		.small-12.columns.landing__cta
			h1 Land.io, blissful innovation.
			p Craft your journey, absolutely free, with Land.io UI kit.
			a.landing__button.btn-landing
				img(src="assets/img/sketch-icon.png", alt="ß")
				span FREE FOR SKETCH

		.small-12.columns.landing__social
			ul
				li
					img(src="assets/img/twitter-icon.png", alt="")
					span 1024
				li
					img(src="assets/img/facebook-icon.png", alt="")
					span 562
				li
					img(src="assets/img/linkedin-icon.png", alt="")
					span 356
