// News Section
section
	#news.news

		.row

			// Article Image
			.medium-6.column.tile.collapse
				.news__tile-img-1

			// Article Link
			.medium-6.column.tile.collapse
				.news__article
					.row.flex-center

						.medium-7.column
							article
								a(href="#")

									.news__article__featured-article
										span Featured Article

									.news__article__title
										h5 Design studio with product designer Peter Finlan  <img class='news__article__arrow-icon' src='assets/img/arrow-icon.png'>

									.news__article__meta
										ul.menu
											li
												img(src="assets/img/tag-icon.png", alt="")
												span DESIGN STUDIO
											li
												img(src="assets/img/time-icon.png", alt="")
												span 1 HOUR AGO

		.row

			// Article Link
			.medium-6.column.tile.collapse
				.news__article
					.row.flex-center

						.medium-7.column
							article
								a(href="#")

									.news__article__title
										h5 How bold, emotive imagery can connect with your audience  <img class='news__article__arrow-icon' src='assets/img/arrow-icon.png'>

									.news__article__meta
										ul.menu
											li
												img(src="assets/img/tag-icon.png", alt="")
												span DESIGN STUDIO
											li
												img(src="assets/img/time-icon.png", alt="")
												span 1 HOUR AGO
			
			// Article Image
			.medium-6.column.tile.collapse
				.news__tile-img-2