// Subscription Section
section
	#subscription.sub

		// Sub. Header Section
		.row
			.medium-12.column.sub__header
				h3 Manage your subscriptions

		// Sub. Options section
		.row.flex-center.sub__card-container
			.small-12.medium-4.large-3.column.collapse
				.sub__card.sub__card-personal
					.sub__card__header
						span PERSONAL

					.sub__card__info
						p Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.

					ul.sub__card__features
						li.price-entry
							span.price 19
							span.month  /month
						li Sed risus feugiat
						li Sed risus feugiat fusce eu sit
						li Sed risus feugiat fusce

					a.btn-sub(href="") Get Started


			.small-12.medium-4.large-3.column.collapse
				.sub__card.sub__card-professional.card-is-active
					.sub__card__header
						span PROFESSIONAL

					.sub__card__info
						p Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.

					ul.sub__card__features
						li.price-entry
							span.price 49
							span.month  /month
						li Sed risus feugiat
						li Sed risus feugiat fusce eu sit
						li Sed risus feugiat fusce
						li Sed risus feugiat

					a.btn-sub(href="") Get Started


			.small-12.medium-4.large-3.column.collapse
				.sub__card.sub__card-enterprise
					.sub__card__header
						span ENTERPRISE

					.sub__card__info
						p Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.

					ul.sub__card__features
						li.price-entry
							span.price 99
							span.month  /month
						li Sed risus feugiat
						li Sed risus feugiat fusce eu sit
						li Sed risus feugiat fusce

					a.btn-sub(href="") Get Started



