// Testimonial Section
section
	#testimonial.test-container
		.row.test.flex-center
			.small-12.medium-12.column

				include ../_includes/_testimonial-carousel.jade

			.small-12.medium-12.column
				.test__users
					img.user-img(src="assets/img/person-5.png", alt="", data-user='0')
					img.user-img(src="assets/img/person-4.png", alt="", data-user='1')
					img.user-img.img-is-active(src="assets/img/teehan-user.png", alt="", data-user='2')
					img.user-img(src="assets/img/person-2.png", alt="", data-user='3')
					img.user-img(src="assets/img/person-1.png", alt="", data-user='4')

